*{
  margin: 0;
  padding: 0;
}

body{
  background: lightgrey;
}

header{
  /* width: 100%; */
  height: 100px;
  background-color: white;
}

.content{
  background-color: greenyellow;
}

section{
  /* height: 250px; */
  background: red;
  border-bottom: 1px solid black;
}

section::after{
  content: "";
  display: table;
  clear: both;
}

.row{
  /* margin: 0 auto; */
}

.grey-block{
  height: 100px;
  background-color: lightgrey;
  text-align: center;
}

.centratura-title{
  line-height: 50px;
}


.colonne{
  float: left;
  width: 33%;
  /* height: 200px; */
  background-color: brown;
  border: 1px solid black;
}

.colonne .blocco-img{
  /* width: 100px; */
  /* height: 100px; */
}



.colonne .blocco-hiperlink{
  border-top: 4px solid cyan;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

footer{
  height: 300px;
  background: blue;
}
